{% extends 'blog/base.html'%}
{% block content %}
<div class="posts-container">
  {% for post in posts %}
    <article class="post-card feed-post">
      <div class="post-header">
        <img src="{{ post.author.profile.image.url }}" alt="{{ post.author.username }} profile picture" class="post-avatar">
        <div class="post-author-block">
          <div class="post-author-row">
            <span class="author">{{ post.author.username }}</span>
            <span class="date">{{ post.data_posted }}</span>
          </div>
          <h2 class="post-title">{{ post.title }}</h2>
        </div>
      </div>

      <p class="post-body">
        {{ post.content }}
      </p>
    </article>
  {% empty %}
    <p>No posts available.</p>
  {% endfor %}
</div>
{% endblock content %}
