<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
    <!-- Project Title -->
    <a class="navbar-brand" href="/">Django Blog</a>

    <!-- Mobile toggle -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <!-- LEFT SIDE -->
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog-home' %}">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog-about' %}">About</a>
        </li>

      </ul>

      <!-- RIGHT SIDE -->
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
              <a class="nav-link" href="{% url "profile" %}">Profile</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url "post-create" %}">Create Post</a>
          </li>
          <li class="nav-item">
            <form method="POST" action="{% url 'logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-link">Logout</button>
            </form>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url "login" %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "register" %}">Register</a>
          </li>
        {% endif %}

        

      </ul>

    </div>
  </nav>
</header>



